DB_URL=jdbc:postgresql://<host>:5432/<database>
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
FRONTEND_OAUTH_REDIRECT_BASE=http://localhost:3000/oauth/callback
